:root{
    --primaryColor : #BBE1FA;
    --secondaryColor :#1B262C;
    --ternaryColor1:#0F4C75;
    --ternaryColor2:#3282B8;
}

@font-face {
    font-family: Light;
    font-weight: 300;
    src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: Regular;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: Bold;
    font-weight: 500;
    src: url(./AeonikTRIAL-Bold.otf);
}

@mixin FullSize{
    height:100%;
    width:100%;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    color: var(--primaryColor);
}
html,body{
    @include FullSize;   
}

#main{
    @include FullSize;
    background-color: var(--secondaryColor);
    nav{
        width: 100%;
        height: 60px;
        background-color: var(--ternaryColor1);
    }
    .AllElements{
        @include FullSize;
        display: flex;
        padding: 40px;
        padding-top: 80px;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        gap: 32px;
        position: absolute;

        .Elements{
            background-color: var(--ternaryColor2);
            transition: all ease 0.3s;
            height: 400px;
            width:330px;
            font-family: bold;
            border-radius: 16px;
            color: var(--primaryColor);
            overflow: hidden;
            position: relative;

            img{
                @include FullSize;
                object-fit: cover;
            }

            h1{
                position: absolute;
                bottom: 4%;
                right: 5%;
            }
        }
        .Elements:active{
            transform:scale(0.95);
        }
    }
    .FullElements{
        @include FullSize;
        padding:20px;
        font-family:light;
        background-color: var(--ternaryColor2);
        display: none;
        position: absolute;
    }
} 